{plugins, [pc]}.

{port_env, [
  {"darwin", "CFLAGS", "$CFLAGS -I/opt/local/include"},
  {"darwin", "LDFLAGS", "$LDFLAGS -L/opt/local/lib -lsqlite "},
  {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly)", "LDFLAGS", "$LDFLAGS -lsqlite "}
]}.
{port_specs, [{"priv/errm_sqlite_nif.so", ["c_src/errm_sqlite_nif.c"]}]}.

{provider_hooks, [
  {post, [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
  ]}
]}.

{profiles, [
  {test, [
    {erl_opts, [nowarn_export_all, debug_info]},
    {extra_src_dirs, ["test"]}
  ]},
  {debug, [
    {erl_opts, [debug_info]}
  ]},
  {prod, [
    {erl_opts, [
      {d, 'PROD'},
      deterministic,
      warnings_as_errors,
      compressed
    ]},
    {port_env, [
      {"CFLAGS", "-O2 -march=native -flto -DNDEBUG"},
      {"LDFLAGS", "-Wl,-O1 -flto"}
    ]}
  ]}
]}.
