{pre_hooks, [
    {"(linux|darwin|freebsd|solaris|netbsd|openbsd|dragonfly)", compile,
        "bash -c 'mkdir -p priv && if [ -n \"$REBAR_PROFILE\" ]; then just build_nifs $REBAR_PROFILE; elif [ -f scripts/detect_profile.sh ]; then just build_nifs $(./scripts/detect_profile.sh); else just build_nifs debug; fi'"}
]}.

{post_hooks, [
    {"(linux|darwin|freebsd|solaris|netbsd|openbsd|dragonfly)", clean, "just clean_nifs"}
]}.

{profiles, [
  {test, [
    {erl_opts, [nowarn_export_all, debug_info]},
    {extra_src_dirs, ["test"]}
  ]},
  {debug, [
    {erl_opts, [debug_info]}
  ]},
  {prod, [
    {erl_opts, [
      deterministic,
      warnings_as_errors,
      compressed
    ]}
  ]}
]}.
